# Database Configuration
POSTGRES_USER=vapor_username
POSTGRES_PASSWORD=change_this_password
POSTGRES_DB=vapor_database

# Vapor Configuration
LOG_LEVEL=debug
VAPOR_DATABASE_USERNAME=${POSTGRES_USER}
VAPOR_DATABASE_PASSWORD=${POSTGRES_PASSWORD}
VAPOR_DATABASE_NAME=${POSTGRES_DB}

# SSL Configuration
SSL_CERT_DIR=./ssl
SSL_CERT_FILE=tiwenlab.com.crt
SSL_KEY_FILE=tiwenlab.com.key

# 腾讯混元大模型 API
TENCENT_CLOUD_SECRET_ID=
TENCENT_CLOUD_SECRET_KEY=
TENCENT_CLOUD_HUNYUAN_OPENAI_API_KEY=
