# Database Configuration
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdatabase

# Vapor Configuration
LOG_LEVEL=debug
VAPOR_DATABASE_USERNAME=${POSTGRES_USER}
VAPOR_DATABASE_PASSWORD=${POSTGRES_PASSWORD}
VAPOR_DATABASE_NAME=${POSTGRES_DB}

# SSL Configuration
SSL_CERT_DIR=./ssl
SSL_CERT_FILE=tiwenlab.com.crt
SSL_KEY_FILE=tiwenlab.com.key

# JWT Configuration
JWT_SECRET=your-256-bit-secret

# Tencent Hunyuan Configuration
TENCENT_SECRET_ID=your-secret-id
TENCENT_SECRET_KEY=your-secret-key
TENCENT_REGION=ap-beijing
TENCENT_APP_ID=your-app-id

# 大模型提供者类型
LLM_PROVIDER=tencentHunyuan

# 深度求索 API Key
# Tencent Hunyuan API Key
TENCENT_HUNYUAN_API_KEY=your-tencent-hunyuan-api-key
DEEPSEEK_API_KEY=your-deepseek-api-key
